/* .App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.redux {
    width: 50%;
    height: 50%;
    background-color: aquamarine;
}

.box {
    width: 200px;
    height: 200px;
    background-color: black;
}
.box > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input {
    width: 100px;
    height: 50px;
}

.inputdiv {
    width: auto;
    height: auto;
    padding: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
}
input {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: 1px solid lightgrey;
    padding-left: 10px;
}

button {
    width: 100px;
    height: 40px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
}
.result {
    width: 50%;
    height: auto;
    background-color: aqua;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 10px;
}
.circle {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */



.App3{
    width: 100%;
    height: 100vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardHolder{
    width: 100%;
    height: 100vh;
    display: flex;
}
.leftside{
    width: 35%;
    height: 100%;
    background-color: red;
    background-image: linear-gradient( to bottom right, black,rgb(73, 3, 73),rgb(94, 3, 3),rgb(2, 2, 83),rgb(73, 3, 73))
}
.rightside{
    width: 65%;
    height: 100%;
    background-color: whitesmoke;
}
.centercard{
    width: 70%;
    height: 75%;
    /* background-color: aqua; */
    position: absolute;
    display: flex;
}
.cardsDiv{
    width: 53%;
    height: 100%;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.upCard{
    width: 80%;
    height: 47%;
    background-color: red;
    background-image: linear-gradient(to bottom right, rgb(83, 83, 232), rgb(33, 33, 205),rgb(202, 117, 131), rgb(183, 131, 37), purple);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.topupCard{
    width: 85%;
    height: 70px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.firstCircle{
    width: 55px;
    height: 80%;
    background-color: white;
    border-radius: 100%;
}
.secondCircle{
    width: 20px;
    height: 30%;
    border: 2px solid lightgrey;
    border-radius: 100%;
}
.bottomupCard{
    width: 85%;
    height: auto;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    color: whitesmoke;
}
.bottomupCard > h3{
    font-size: 30px;
    font-weight: 500;
}
.downbottomupCard{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.downCard{
    width: 80%;
    height: 47%;
    background-color: lightgrey;
    margin-left: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blackline{
    width: 100%;
    height: 20%;
    background-color: black;
    margin-top: 24px;
}
.underBlackline{
    width: 80%;
    height: 60%;
    /* background-color: yellow; */
    margin-top: 30px;
}
.topofunderBlackline{
    width: 100%;
    height: 35%;
    background-color: grey;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.topofunderBlackline > p{
    margin-right: 20px;
    font-size: 20px;
}

.formDiv{
    width: 47%;
    height: auto;
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.theForm{
    width: 70%;
    height: auto;
    /* background-color: yellow; */
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.theInput{
    width: 100%;
    height: auto;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.theInput > input{
    width: 90%;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
}
p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lastInput{
    width: 100%;
    height: auto;
    /* background-color: white; */
    display: flex;
}
.expirydate{
    width: 50%;
    height: 110px;
    /* background-color: blue; */
}
.expiredateInput{
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    gap: 20px;
}
.expiredateInput > input{
    width: 30%;
    height: 48px;
    padding-left: 10px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
}
.cvc > input{
    width: 87%;
    height: 48px;
    padding-left: 10px;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
}
.theForm > button{
    width: 94%;
    height: 55px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}